body {
    max-width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
    /* Adjust the desired width */
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

input[type="date"],
input[type="time"],
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

input[type="submit"]:focus {
    outline: none;
}

/* button section edit users*/
button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

button[type="submit"]:focus {
    outline: none;
}

/* end button*/
/* button section reset*/
button[type="button"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #555;
}

button[type="button"]:focus {
    outline: none;
}

/* end button*/